.popupContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  animation: dropup 0.4s linear;
}

@keyframes dropup {
  0% {
    transform: translateY(-130%);
    opacity: 0;
  }
  ,
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
